################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vscode
**/.vs/
**/bin/*
**/obj/*
x64
packages
Console.UI